.animation-two {
    button {
        width: 200px;
        padding: 10px;
        font-size: 20px;
        background-color: rgb(7, 7, 7);
        color: red;
        cursor: pointer;
        transition: all 3s;
        border: 5px solid red;
        &:hover {
            background-color: chartreuse;
            color: #333;
            border: 5px solid #333;
            width: 300px;
            // margin-bottom: 20px;
            // padding: 50px;
        }
    }
   
}