.Hamburger {
    display: flex;
    flex-wrap: wrap;

    &__box{
        width: 5rem;
        height: 5rem;
        background-color: aquamarine;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__line {
        width: 2rem;
        height: 24px;
        position:relative;
        cursor: pointer;
    }
    &__lines {
        width: 100%;
        height: 4px;
        border-radius: 5px;
        background-color: #000;
        position: absolute;
        transition: all .5s ease-in-out;
    }
    &__lines:nth-child(1){
        top: 0px;
    }
    &__lines:nth-child(2){
        top: 10px;
    }
    &__lines:nth-child(3){
        top: 20px;
    }
    
}
// humburger 1
.Hamburger__btn1.active .Hamburger__lines:nth-child(1){
    top: 10px;
    transform: rotate(135deg);
}
.Hamburger__btn1.active .Hamburger__lines:nth-child(2){
    transform: translateX(-20px);
    opacity: 0;
}.Hamburger__btn1.active .Hamburger__lines:nth-child(3){
    top: 10px;
    transform: rotate(-135deg);
}
// humburger 1
// humburger 2
.Hamburger__btn2.active .Hamburger__lines:nth-child(1){
    top: 10px;
}
.Hamburger__btn2.active .Hamburger__lines:nth-child(2){
    opacity: 0;
}.Hamburger__btn2.active .Hamburger__lines:nth-child(3){
    top: 10px;
    transform: rotate(90deg);
}
// humburger 2
// humburger 3
.Hamburger__btn3.active .Hamburger__lines:nth-child(1){
    top: 10px;
}
.Hamburger__btn3.active .Hamburger__lines:nth-child(2){
    opacity: 0;
}.Hamburger__btn3.active .Hamburger__lines:nth-child(3){
    top: 10px;
}
// humburger 3
// humburger 4
.Hamburger__btn4.active {
    transform: rotate(90deg);
}
.Hamburger__btn4.active .Hamburger__lines:nth-child(1){
    transform: rotate(45deg);
}
.Hamburger__btn4.active .Hamburger__lines:nth-child(3){
    transform: rotate(-45deg);
}
.Hamburger__btn4.active .Hamburger__lines:nth-child(2){
   opacity: 0;
   transition: none; 
}
// humburger 4
// humburger 5
.Hamburger__linesM{
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: #000;
    transition: all .3s ease-in-out;
    position: relative;
    margin: 6px auto;
}
 .Hamburger__linesM:nth-child(1){
    margin-top:0;
 }
 .Hamburger__btn5.active .Hamburger__linesM:nth-child(2){
    width: 0;
 }
 .Hamburger__btn5.active {
     transition: all .3s .8s ease-in-out;
     transform: rotate(45deg);
 }
 .Hamburger__btn5.active .Hamburger__linesM:nth-child(1),
 .Hamburger__btn5.active .Hamburger__linesM:nth-child(3){
   transition-delay: .3s;
 }
 .Hamburger__btn5.active .Hamburger__linesM:nth-child(1) {
     transform: translateY(10px);
 }
 .Hamburger__btn5.active .Hamburger__linesM:nth-child(3) {
    transform: translateY(-10px) rotate(90deg);
}
// humburger 5

.Hamburger__btn6.active .Hamburger__lines:nth-child(1){
    transform: translateX(100%);
    opacity: 0;
}
.Hamburger__btn6.active .Hamburger__lines:nth-child(2){
   
}.Hamburger__btn6.active .Hamburger__lines:nth-child(3){
    transform: translateX(-100%);
    opacity: 0;
}