.rain {
  position: relative;
  width: 100%;
  height: 97vh;
  background: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  animation: rain 2s linear infinite;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/rain.png);

    animation: drop 2s linear infinite;
  }
}
@keyframes drop {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 30% 100%;
  }
}
@keyframes rain {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
