* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.react {
  width: 200px;
  height: 200px;
  -webkit-animation: animation 3s infinite linear;
          animation: animation 3s infinite linear;
}

@-webkit-keyframes animation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.item001 .box {
  position: relative;
  width: 200px;
  height: 300px;
  background: #020202;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.item001 .box::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 130%;
  background: -webkit-gradient(linear, left top, left bottom, from(#f111e0), to(#08ffea));
  background: linear-gradient(#f111e0, #08ffea);
  -webkit-animation: rotate 5s infinite linear;
          animation: rotate 5s infinite linear;
}

.item001 .box::after {
  content: "";
  position: absolute;
  inset: 5px;
  background: #020202;
}

.item001 .box .h3 {
  font-size: 24px;
  color: #fff;
  z-index: 1;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.item002 {
  padding-top: 50px;
}

.item002 .wrapper {
  width: 500px;
  height: 358px;
  position: relative;
}

.item002 .wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #30882d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}

.item002 .wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #26cf20;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}

.item002 .wrapper:hover::before {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.item002 .wrapper:hover::after {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.item002 .wrapper img {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.animation-one .move-btn {
  width: 120px;
  padding: 10px;
  background-color: aqua;
  margin: 20px;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  cursor: pointer;
}

.animation-one #ease {
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.animation-one #linear {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.animation-one #ease-in {
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

.animation-one #ease-out {
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.animation-one #ease {
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.animation-one .move-btn:hover {
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
}

.animation-two button {
  width: 200px;
  padding: 10px;
  font-size: 20px;
  background-color: #070707;
  color: red;
  cursor: pointer;
  -webkit-transition: all 3s;
  transition: all 3s;
  border: 5px solid red;
}

.animation-two button:hover {
  background-color: chartreuse;
  color: #333;
  border: 5px solid #333;
  width: 300px;
}

.animation-three {
  padding: 60px 15px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.animation-three .translate {
  -webkit-transition: ease-in .5s;
  transition: ease-in .5s;
}

.animation-three .animation-1:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.animation-three .animation-2:hover {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.animation-three .animation-3:hover {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

.animation-three .animation-4:hover {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.animation-four .scale {
  -webkit-transition: .5s;
  transition: .5s;
  margin-right: 20px;
}

.animation-four h2.scale {
  display: inline-block;
  -webkit-transition: 1s;
  transition: 1s;
}

.animation-four h2.scale:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background: green;
}

.animation-four .animation-1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.animation-four .animation-2:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.animation-five .rotate {
  -webkit-transition: -webkit-transform 3s;
  transition: -webkit-transform 3s;
  transition: transform 3s;
  transition: transform 3s, -webkit-transform 3s;
  margin-right: 20px;
}

.animation-five h2.rotate {
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  display: inline-block;
}

.animation-five h2.rotate:hover {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  background-color: green;
}

.animation-five .animation-1:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.animation-five .animation-2:hover {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.animation-six .skew {
  -webkit-transition: 1s;
  transition: 1s;
}

.animation-six h2.skew {
  display: inline-block;
}

.animation-six h2.skew:hover {
  background-color: green;
  -webkit-transform: skewX(30deg);
          transform: skewX(30deg);
}

.animation-six .animation-1:hover {
  -webkit-transform: skewX(30deg);
          transform: skewX(30deg);
}

.animation-six .animation-2:hover {
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
}

.animation-six .animation-3:hover {
  -webkit-transform: skewY(-30deg);
          transform: skewY(-30deg);
}

.animation-six .animation-4:hover {
  -webkit-transform: skew(10deg, 25deg);
          transform: skew(10deg, 25deg);
}

.animation-seven .Origin {
  -webkit-transition: 1s;
  transition: 1s;
}

.animation-seven .animation-1:hover {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.animation-seven .animation-2 {
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.animation-seven .animation-2:hover {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.animation-seven .animation-4 {
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.animation-seven .animation-4:hover {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.animation-seven .animation-3 {
  -webkit-transform-origin: top;
          transform-origin: top;
}

.animation-seven .animation-3:hover {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.animation-eight {
  -webkit-perspective: 500px;
          perspective: 500px;
}

.animation-eight .rotate {
  -webkit-transition: 1s;
  transition: 1s;
  margin-right: 50px;
}

.animation-eight .animation-1:hover {
  -webkit-transform: rotateY(60deg);
          transform: rotateY(60deg);
}

.animation-eight .animation-2:hover {
  -webkit-transform: rotateX(60deg);
          transform: rotateX(60deg);
}

.animation-nine a {
  text-decoration: none;
  color: #272727;
  font-family: sans-serif;
  font-size: 40px;
  border: 5px solid #272727;
  padding: 20px 40px;
  position: relative;
  display: inline-block;
  margin: 20px;
  overflow: hidden;
}

.animation-nine a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: blueviolet;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: 1s;
  transition: 1s;
  visibility: hidden;
}

.animation-nine a:hover::before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  visibility: visible;
}

.animation-ten a {
  text-decoration: none;
  color: #272727;
  font-family: sans-serif;
  font-size: 40px;
  border: 5px solid #272727;
  padding: 20px 40px;
  position: relative;
  display: inline-block;
  margin: 20px;
  overflow: hidden;
}

.animation-ten a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: crimson;
  z-index: -1;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: .8s;
  transition: .8s;
}

.animation-ten a:hover::before {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.animation-eleven a {
  text-decoration: none;
  color: #272727;
  font-family: sans-serif;
  font-size: 40px;
  border: 5px solid #272727;
  padding: 20px 40px;
  position: relative;
  display: inline-block;
  margin: 20px;
}

.animation-eleven a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: cyan;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: 1s;
  transition: 1s;
  z-index: -1;
}

.animation-eleven a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: cyan;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transition: 1s;
  transition: 1s;
  z-index: -1;
}

.animation-eleven a:hover:before {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

.animation-eleven a:hover:after {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

.animation-twelve a {
  text-decoration: none;
  color: #272727;
  font-family: sans-serif;
  font-size: 40px;
  border: 5px solid #272727;
  padding: 20px 40px;
  position: relative;
  display: inline-block;
  margin: 20px;
  overflow: hidden;
}

.animation-twelve a::before {
  content: "Yeah";
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 20px;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: crimson;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: .8s;
  transition: .8s;
}

.animation-twelve a:hover::before {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  background-color: darkorange;
}

.animation-thirteen a {
  text-decoration: none;
  color: #272727;
  font-family: sans-serif;
  font-size: 40px;
  border: 5px solid #272727;
  padding: 20px 40px;
  position: relative;
  display: inline-block;
  margin: 20px;
  -webkit-transition: 2s;
  transition: 2s;
  overflow: hidden;
}

.animation-thirteen a:hover {
  background: #431e68;
}

.animation-thirteen a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: salmon;
  -webkit-transform: translateX(-100%) rotate(45deg);
          transform: translateX(-100%) rotate(45deg);
  -webkit-transition: 2s;
  transition: 2s;
}

.animation-thirteen a:hover::before {
  -webkit-transform: translateX(100%) rotate(45deg);
          transform: translateX(100%) rotate(45deg);
}

.animation-fourteen a {
  text-decoration: none;
  color: #272727;
  font-family: sans-serif;
  font-size: 40px;
  border: 5px solid #272727;
  padding: 20px 40px;
  position: relative;
  display: inline-block;
  margin: 20px;
  -webkit-transition: 2s;
  transition: 2s;
  overflow: hidden;
  color: transparent;
  background-color: #333;
}

.animation-fourteen a::before {
  content: "hover me";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fffa65;
  color: #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.animation-fourteen a::after {
  content: "hover me";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fffa65;
  color: #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translate(-100%, 100%);
          transform: translate(-100%, 100%);
}

.animation-fourteen a:hover:before {
  -webkit-transform: translate(100%, -100%);
          transform: translate(100%, -100%);
}

.animation-fourteen a:hover:after {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.animation-fifteen a {
  text-decoration: none;
  color: #272727;
  font-family: sans-serif;
  font-size: 40px;
  border: 5px solid #272727;
  padding: 20px 40px;
  position: relative;
  display: inline-block;
  margin: 20px;
  -webkit-transition: 2s;
  transition: 2s;
  overflow: hidden;
}

.animation-fifteen a::before {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #262626;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(5);
          transform: scale(5);
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0;
}

.animation-fifteen a:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.animation-sixteen .btn {
  border: 2px solid tomato;
  background: none;
  color: tomato;
  padding: 20px 40px;
  font-size: 26px;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 20px;
}

.animation-sixteen .btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 150%;
  background: tomato;
  z-index: -1;
  border-radius: 0 0 50% 50%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.animation-sixteen .btn:hover::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  border-radius: 0;
}

.animation-sixteen .btn:hover {
  color: #fff;
}

.animation-seventeen a {
  padding: 20px 40px;
  text-decoration: none;
  background-color: #ff7b00;
  color: white;
  font-size: 26px;
  letter-spacing: 2px;
  position: relative;
  margin: 20px;
  -webkit-transition: .5s;
  transition: .5s;
  display: inline-block;
}

.animation-seventeen a::before {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotateX(270deg);
          transform: rotateX(270deg);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: .5s;
  transition: .5s;
}

.animation-seventeen a::after {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #71da71;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotateX(270deg);
          transform: rotateX(270deg);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}

.animation-seventeen a:hover::before, .animation-seventeen a:hover::after {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

.animation-eighteen a {
  padding: 20px 40px;
  text-decoration: none;
  letter-spacing: 4px;
  color: transparent;
  border: 3px solid #ff0;
  font-size: 26px;
  position: relative;
  margin: 20px;
  display: inline-block;
  overflow: hidden;
}

.animation-eighteen a:before {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #363636;
  color: #ff0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.animation-eighteen a:hover::before {
  left: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.animation-eighteen a:hover::after {
  left: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.animation-eighteen a:after {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #363636;
  color: #ff0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.animation-nineteen a {
  width: 220px;
  height: 80px;
  color: #ff8800;
  background-color: transparent;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 80px;
  -webkit-transition: all .5s;
  transition: all .5s;
  position: relative;
  display: block;
}

.animation-nineteen a::before, .animation-nineteen a::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: -1;
  opacity: 0;
}

.animation-nineteen a::before {
  left: 0;
  -webkit-box-shadow: -100px 0 0 green;
          box-shadow: -100px 0 0 green;
}

.animation-nineteen a::after {
  right: 0;
  -webkit-box-shadow: 100px 0 0 red;
          box-shadow: 100px 0 0 red;
  z-index: -2;
}

.animation-nineteen a:hover::before {
  left: 50%;
  -webkit-box-shadow: 30px 0 0 green;
          box-shadow: 30px 0 0 green;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  opacity: 1;
}

.animation-nineteen a:hover::after {
  right: 50%;
  -webkit-box-shadow: -30px 0 0 red;
          box-shadow: -30px 0 0 red;
  -webkit-transform: translateX(50%) translateY(-50%);
          transform: translateX(50%) translateY(-50%);
  opacity: 1;
}

.animation-nineteen span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff0;
  border-radius: 8px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: -1;
}

.animation-nineteen a:hover span {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.animation-nineteen a:hover {
  color: #333;
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.animation-twenty a {
  width: 300px;
  height: 60px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
  -webkit-transition: all .2s;
  transition: all .2s;
  color: #fff;
}

.animation-twenty a::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  background-color: tomato;
  z-index: -1;
  mix-blend-mode: multiply;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.animation-twenty a:hover:before {
  top: -6px;
  left: 0;
  -webkit-transform: perspective(1000px) rotateX(75deg);
          transform: perspective(1000px) rotateX(75deg);
}

.animation-twenty a::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 100%;
  height: 100%;
  background-color: #6888b9;
  z-index: -1;
  mix-blend-mode: multiply;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.animation-twenty a:hover:after {
  top: 6px;
  left: 0;
  -webkit-transform: perspective(1000px) rotateX(-75deg);
          transform: perspective(1000px) rotateX(-75deg);
}

.animation-twenty a:hover {
  color: brown;
}

.animation-twentyone a {
  text-decoration: none;
  text-transform: uppercase;
  color: #c46a16;
  letter-spacing: 3px;
  padding: 25px 50px;
  border: 3px solid #c46a16;
  font-size: 20px;
  -webkit-transition: all 1s;
  transition: all 1s;
  position: relative;
  margin: 20px;
  display: inline-block;
  overflow: hidden;
}

.animation-twentyone a::before, .animation-twentyone a::after,
.animation-twentyone a span::after,
.animation-twentyone a span::before {
  content: "";
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: yellowgreen;
  z-index: -1;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.animation-twentyone a::before {
  bottom: -100%;
  left: 0;
}

.animation-twentyone a:hover::before {
  bottom: 0;
  left: 0;
}

.animation-twentyone a::after {
  top: -100%;
  left: 25%;
}

.animation-twentyone a:hover::after {
  top: 0;
  left: 25%;
}

.animation-twentyone a span::before {
  top: 100%;
  right: 25%;
}

.animation-twentyone a:hover span::before {
  top: 0;
  right: 25%;
}

.animation-twentyone a span::after {
  top: -100%;
  right: 0;
}

.animation-twentyone a:hover span::after {
  top: 0;
  right: 0;
}

.animation-twentytwo a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 3px;
  height: 60px;
  width: 200px;
  display: inline-block;
  line-height: 60px;
  text-align: center;
  color: #fdc518;
  position: relative;
}

.animation-twentytwo a::before {
  content: "";
  position: absolute;
  height: 90px;
  width: 200px;
  top: -15px;
  left: 0;
  border-left: 3px solid red;
  border-right: 3px solid yellow;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.animation-twentytwo a::after {
  content: "";
  position: absolute;
  height: 60px;
  width: 230px;
  top: 0;
  left: -15px;
  border-top: 3px solid red;
  border-bottom: 3px solid yellow;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.animation-twentytwo a:hover:before {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.animation-twentytwo a:hover:after {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.animation-twentythree button {
  border: none;
  padding: 12px 40px;
  background-color: cadetblue;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.animation-twentythree button::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: -5px;
  left: -5px;
  border-top: 2px solid chartreuse;
  border-left: 2px solid chartreuse;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.animation-twentythree button::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -5px;
  right: -5px;
  border-bottom: 2px solid chartreuse;
  border-right: 2px solid chartreuse;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.animation-twentythree button:hover:before, .animation-twentythree button:hover:after {
  width: 100%;
  height: 100%;
}

.animation-twentyfour a {
  text-decoration: none;
  display: inline-block;
  width: 160px;
  height: 60px;
  color: black;
  border: 2px solid black;
  text-align: center;
  line-height: 60px;
  font-size: 22px;
  position: relative;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.animation-twentyfour a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.animation-twentyfour a:hover::before {
  opacity: 1;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.animation-twentyfour a:hover {
  color: #fff;
}

.animation-twentyfour a span {
  color: transparent;
  position: relative;
}

.animation-twentyfour a span::before {
  content: "B";
  position: absolute;
  color: black;
  -webkit-transition: .2s;
  transition: .2s;
}

.animation-twentyfour a:hover span::before {
  color: #fff;
  font-size: 60px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  left: -35px;
  top: -30px;
}

.animation-twentyfive button {
  background-color: #9b8484;
  border: none;
  position: relative;
  width: 400px;
  height: 120px;
  text-transform: uppercase;
  line-height: 120px;
  text-align: center;
  color: white;
  font-size: 40px;
  letter-spacing: 15px;
  overflow: hidden;
  cursor: pointer;
}

.animation-twentyfive button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 4px;
  background-color: #3b13ac;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.animation-twentyfive button:hover::before {
  left: 0;
}

.animation-twentyfive button::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 4px;
  background-color: #3b13ac;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.animation-twentyfive button:hover::after {
  right: 0;
}

.animation-twentyfive button span::before {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: #3b13ac;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.animation-twentyfive button:hover span::before {
  bottom: 0;
}

.animation-twentyfive button span::after {
  content: "";
  position: absolute;
  top: -100%;
  right: 0;
  width: 4px;
  height: 100%;
  background-color: #3b13ac;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.animation-twentyfive button:hover span::after {
  top: 0;
}

.animation-twentysix a {
  text-decoration: none;
  padding: 15px 30px;
  color: violet;
  font-size: 18px;
  letter-spacing: 3px;
  border: 2px solid red;
  text-transform: uppercase;
  position: relative;
  margin: 20px;
  display: inline-block;
  overflow: hidden;
}

.animation-twentysix a .wave {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: calc(100% + 22px);
  background-color: #0099ff;
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: -1;
}

.animation-twentysix a .wave::before {
  content: "";
  position: absolute;
  top: -27px;
  left: 0;
  width: 100%;
  height: 40px;
  background: url(../images/wave.svg);
  background-repeat: no-repeat;
  -webkit-animation: wave .5s linear infinite;
          animation: wave .5s linear infinite;
}

.animation-twentysix a:hover .wave {
  top: 0;
}

.animation-twentysix a:hover {
  color: wheat;
}

@-webkit-keyframes wave {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 118px;
  }
}

@keyframes wave {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 118px;
  }
}

.animation-twentyseven a {
  text-decoration: none;
  width: 160px;
  height: 60px;
  color: black;
  line-height: 60px;
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
  display: inline-block;
  overflow: hidden;
}

.animation-twentyseven a span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  border: 2px solid black;
  z-index: -1;
}

.animation-twentyseven a span::before {
  content: "";
  position: absolute;
  width: 8%;
  height: 500%;
  background-color: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-60deg);
          transform: translate(-50%, -50%) rotate(-60deg);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.animation-twentyseven a:hover span::before {
  width: 100%;
  background-color: black;
  -webkit-transform: translate(-50%, -50%) rotate(60deg);
          transform: translate(-50%, -50%) rotate(60deg);
}

.animation-twentyseven a:hover {
  color: #fff;
}

.animation-twentyeight a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  letter-spacing: 7px;
  padding: 20px 30px;
  background-color: transparent;
  font-size: 28px;
  color: #fff;
  margin: 20px;
  display: inline-block;
}

.animation-twentyeight a::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  left: -1%;
  top: -5px;
  background-color: #6b1010;
  z-index: -1;
  -webkit-transform: skewX(30deg);
          transform: skewX(30deg);
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.animation-twentyeight a:hover::before {
  -webkit-transform: skewX(0deg);
          transform: skewX(0deg);
  left: 50%;
  top: 0;
}

.animation-twentyeight a::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  left: 51%;
  top: 5px;
  background-color: #120948;
  z-index: -1;
  -webkit-transform: skewX(30deg);
          transform: skewX(30deg);
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.animation-twentyeight a:hover::after {
  -webkit-transform: skewX(0deg);
          transform: skewX(0deg);
  left: 0%;
  top: 0;
}

.animation-twentynine a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  padding: 25px 50px;
  background-color: #f1a3a3;
  color: #777;
  border-radius: 100vh;
  font-size: 24px;
  -webkit-transition: all .2s;
  transition: all .2s;
  margin: 20px;
  display: inline-block;
}

.animation-twentynine a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f1a3a3;
  border-radius: 100vh;
  -webkit-transition: all .4s;
  transition: all .4s;
  z-index: -1;
}

.animation-twentynine a:hover::before {
  -webkit-transform: scaleX(1.3) scaleY(1.5);
          transform: scaleX(1.3) scaleY(1.5);
  opacity: 0;
}

.animation-twentynine a:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.animation-twentynine a:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.animation-thirty a {
  text-decoration: none;
  position: relative;
  width: 250px;
  height: 88px;
  text-align: center;
  line-height: 80px;
  color: brown;
  border: 4px solid brown;
  font-size: 22px;
  letter-spacing: 3px;
  text-transform: uppercase;
  -webkit-transition: all .5s;
  transition: all .5s;
  display: inline-block;
  overflow: hidden;
}

.animation-thirty a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-top: 40px solid brown;
  border-bottom: 40px solid brown;
  border-right: 40px solid transparent;
  z-index: -1;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.animation-thirty a:hover::before {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.animation-thirty a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-top: 40px solid brown;
  border-bottom: 40px solid brown;
  border-left: 40px solid transparent;
  z-index: -1;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.animation-thirty a:hover::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.animation-thirty a:hover {
  color: #fff;
}

.animation-thirtyone {
  padding-top: 50px;
}

.animation-thirtyone .wrapper {
  width: 500px;
  height: 358px;
  position: relative;
  overflow: hidden;
}

.animation-thirtyone .wrapper img {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.animation-thirtyone .wrapper .caption {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0);
}

.animation-thirtyone .wrapper .caption h2 {
  text-transform: uppercase;
  margin: 0;
}

.animation-thirtyone .wrapper .caption p {
  font-size: 18px;
  text-transform: capitalize;
}

.animation-thirtyone .wrapper:hover .caption {
  opacity: 1;
  background: rgba(0, 0, 0, 0.4);
}

.animation-thirtyone .wrapper:hover img {
  -webkit-transform: scale(1.3) rotate(15deg);
          transform: scale(1.3) rotate(15deg);
}

.animation-thirtytwo {
  padding-top: 50px;
}

.animation-thirtytwo .wrapper {
  width: 500px;
  height: 358px;
  position: relative;
  overflow: hidden;
}

.animation-thirtytwo .wrapper img {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.animation-thirtytwo .wrapper .caption {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.animation-thirtytwo .wrapper .caption h2 {
  text-transform: uppercase;
  margin: 0;
}

.animation-thirtytwo .wrapper .caption p {
  font-size: 18px;
  text-transform: capitalize;
}

.animation-thirtytwo .wrapper:hover .caption {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.animation-thirtytwo .wrapper:hover img {
  -webkit-transform: scale(1.3) rotate(-15deg);
          transform: scale(1.3) rotate(-15deg);
}

.animation-thirtythree {
  padding-top: 50px;
}

.animation-thirtythree .wrapper {
  width: 500px;
  height: 358px;
  position: relative;
  overflow: hidden;
}

.animation-thirtythree .wrapper img {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.animation-thirtythree .wrapper .caption {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  overflow: hidden;
}

.animation-thirtythree .wrapper .caption h2 {
  text-transform: uppercase;
  margin: 0;
}

.animation-thirtythree .wrapper .caption p {
  font-size: 18px;
  text-transform: capitalize;
}

.animation-thirtythree .wrapper:hover .caption {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.animation-thirtythree .wrapper:hover img {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.animation-thirtyfour {
  padding-top: 50px;
}

.animation-thirtyfour .wrapper {
  width: 500px;
  height: 358px;
  position: relative;
  overflow: hidden;
}

.animation-thirtyfour .wrapper img {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.animation-thirtyfour .wrapper .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 150px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  overflow: hidden;
}

.animation-thirtyfour .wrapper .caption h2 {
  text-transform: uppercase;
  margin: 0;
}

.animation-thirtyfour .wrapper .caption p {
  font-size: 18px;
  text-transform: capitalize;
}

.animation-thirtyfour .wrapper:hover .caption {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.animation-thirtyfive {
  padding-top: 50px;
}

.animation-thirtyfive .wrapper {
  width: 500px;
  height: 358px;
  position: relative;
  overflow: hidden;
}

.animation-thirtyfive .wrapper img {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.animation-thirtyfive .wrapper .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  overflow: hidden;
}

.animation-thirtyfive .wrapper .caption h2 {
  text-transform: uppercase;
  margin: 0;
}

.animation-thirtyfive .wrapper .caption p {
  font-size: 18px;
  text-transform: capitalize;
}

.animation-thirtyfive .wrapper:hover .caption {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.animation-thirtyfive .wrapper:hover img {
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
}

.animation-thirtysix {
  padding-top: 50px;
}

.animation-thirtysix .fig {
  width: 500px;
  position: relative;
  color: white;
  overflow: hidden;
}

.animation-thirtysix .fig img {
  width: 100%;
}

.animation-thirtysix .fig::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #006266;
  opacity: 0.5;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.animation-thirtysix .fig:hover::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.animation-thirtysix .fig .caption {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.animation-thirtysix .fig:hover .caption {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.animation-thirtysix .fig h3,
.animation-thirtysix .fig h5 {
  margin: 0;
  letter-spacing: 1px;
}

.animation-thirtysix .fig h3 {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 5px;
}

.animation-thirtysix .fig h5 {
  padding: 3px 5px;
  background: chocolate;
}

.animation-thirtyseven {
  padding-top: 50px;
}

.animation-thirtyseven div {
  width: 300px;
  border: 5px solid green;
  overflow: hidden;
}

.animation-thirtyseven div img {
  width: 100%;
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

.animation-thirtyseven div img:hover {
  -webkit-transform: scale(1.2) rotate(9deg);
          transform: scale(1.2) rotate(9deg);
}

.animation-thirtyeight .color-path {
  width: 400px;
  height: 200px;
  -webkit-animation: color 5s infinite linear;
          animation: color 5s infinite linear;
  background: red;
}

@-webkit-keyframes color {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes color {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

.item39 {
  position: relative;
  width: 450px;
  height: 300px;
  overflow: hidden;
}

.item39 img {
  width: 100%;
}

.item39::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 200%;
  opacity: 0.8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #6f7ad8;
  -webkit-transform: translate(550px, 300px) rotate(30deg);
          transform: translate(550px, 300px) rotate(30deg);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.item39:hover::before {
  -webkit-transform: translate(-50px, -150px) rotate(30deg);
          transform: translate(-50px, -150px) rotate(30deg);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.item39 .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #fff;
}

.item39 h2 {
  text-align: center;
  font-size: 18px;
  padding: 20px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transform: translate(200px, -200px);
          transform: translate(200px, -200px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.item39:hover h2 {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.item39 p {
  font-size: 16px;
  width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translate(-200px, 200px);
          transform: translate(-200px, 200px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.item39:hover p {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.item39 a {
  display: inline-block;
  width: 200px;
  height: 40px;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  color: #6f7ad8;
  background-color: salmon;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: 1s;
  transition: 1s;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 40px;
  text-decoration: none;
}

.item39:hover a {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.item40 {
  position: relative;
  width: 450px;
  height: 300px;
  overflow: hidden;
}

.item40 img {
  width: 100%;
  height: 100%;
}

.item40::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #6f7ad8;
  -webkit-transform: translate(650px, -100px) rotate(180deg);
          transform: translate(650px, -100px) rotate(180deg);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.item40:hover::before {
  -webkit-transform: translate(0, 0) rotate(0deg);
          transform: translate(0, 0) rotate(0deg);
}

.item40 .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #fff;
}

.item40 h2 {
  text-align: center;
  font-size: 18px;
  padding: 20px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.item40:hover h2 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.item40 p {
  font-size: 16px;
  width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(300px) rotate(90deg);
          transform: translateX(300px) rotate(90deg);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.item40:hover p {
  -webkit-transform: translateX(0) rotate(0);
          transform: translateX(0) rotate(0);
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.item40 a {
  display: inline-block;
  width: 200px;
  height: 40px;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  color: #6f7ad8;
  background-color: salmon;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: 1s;
  transition: 1s;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 40px;
  text-decoration: none;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.item40:hover a {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 30px 15px;
}

.container h2 {
  margin-bottom: 10px;
  padding: 10px;
  margin-top: 50px;
}
/*# sourceMappingURL=main.css.map */