.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    border-bottom: 2px solid rgb(10, 87, 87);
    padding: 30px 15px;

    h2 {
        margin-bottom: 20px;
        padding: 10px;
    }
}